<!-- Alteraçoes para as coleçoes e tags Mario -->
<!-- ######################################## -->
              <div class="product-collections">              
              {% assign pro_collection = product.collections %}
                  {% if pro_collection %}
                      All Collection: 
                      {% for col in pro_collection %}
                          <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>{% unless forloop.last %},{% endunless %}
                      {% endfor %}
                  {% endif %}
              </div>
                
              <div class="product-tags">
                  {% if product.tags %}
                      Tags:
                      {% for tag in product.tags %}
                          <a href="/collections/all/{{ tag | handleize }}">{{ tag }}</a>
                      {% endfor %}
                  {%  endif %}
              </div>
                            
<!-- ### -->
<!-- FIM -->